Repository owncloud/guests, pull requests merged in 2018-12, with the labels that each got.

#283 Refactor acceptance test 'the administrator' steps
  tests/acceptance/features/apiGuests/guests.feature
  tests/acceptance/features/bootstrap/GuestsContext.php
Labels: 3 - To review, QA-team, dev:acceptance-tests

#285 Adjust 'has created a folder' test steps
  tests/acceptance/features/apiGuests/guests.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests

#280 more chunking upload tests
  tests/acceptance/features/apiGuests/guests.feature
  tests/acceptance/features/bootstrap/GuestsContext.php
Labels: 3 - To review, QA-team, dev:acceptance-tests

#286 Standardize CI setup
  .drone.yml
  .gitignore
  .phan/config.php
  Makefile
  composer.json
  composer.lock
  phpstan.neon
  vendor-bin/owncloud-codestyle/composer.json
  vendor-bin/phan/composer.json
  vendor-bin/phpstan/composer.json
Labels: 4 - To release, Drone, QA-team

#287 move uploadWithAllMechanisms to helper
  tests/acceptance/features/bootstrap/GuestsContext.php
Labels: 3 - To review, QA-team, dev:acceptance-tests

#288 Add build status for drone
  README.md
Labels: 4 - To release, QA-team

#293 user bootstrap.php of core acceptance tests
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#290 Fix share with guest_app endless loop, add unit tests
  .drone.yml
  Makefile
  appinfo/info.xml
  lib/AppInfo/Application.php
  lib/GroupBackend.php
  tests/phpunit.xml
  tests/unit/GroupBackendTest.php
Labels: 3 - To review

#294 Move phpunit to root
  Makefile
  phpunit.xml
Labels: 3 - To review, QA-team

#295 Use http request helper instead of guzzle client for acceptance test
  tests/acceptance/features/bootstrap/GuestsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#296 register user with password
  tests/acceptance/features/bootstrap/GuestsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#298 ui tests
  .drone.yml
  Makefile
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/GuestsContext.php
  tests/acceptance/features/bootstrap/WebUIGuestsContext.php
  tests/acceptance/features/bootstrap/bootstrap.php
  tests/acceptance/features/lib/SetPasswordPage.php
  tests/acceptance/features/webUIGuests/guests.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#299 allow to use 'Given user has registered' step with password
  tests/acceptance/features/bootstrap/GuestsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests
