Repository owncloud/guests, pull requests merged in 2019-08, with the labels that each got.

#344 Remove stable10 test jobs
  .drone.yml
Labels: 3 - To review, Drone, QA-team

#345 add changelog and bump version to 0.8.2
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To review

#347 Adjust changelog for 0.8.2
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To review

#348 fix failing jobs for current release cycle
  .drone.yml
Labels: 3 - To review

#352 Remove scality obectstore drone tests for now
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#356 Revert "Remove scality obectstore drone tests for now"
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#360 Add unit tests on PHP 7.3
  .drone.yml
Labels: 3 - To review, Drone, QA-team

#359 Test against 10.3.0alpha
  .drone.yml
Labels: 3 - To review, Drone, QA-team, dev:acceptance-tests
