Repository owncloud/guests, pull requests merged in 2019-07, with the labels that each got.

#339 guest app test against latest release tarball
  .drone.yml
  tests/acceptance/features/webUIGuests/guests.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests

#341 Only install required dependencies in test runner in drone
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#342 guest app test against 10.2.1 tarball
  .drone.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests

#343 Use words for permissions in tests
  tests/acceptance/features/apiGuests/guests.feature
  tests/acceptance/features/bootstrap/WebUIGuestsContext.php
  tests/acceptance/features/webUIGuests/guests.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests
