Repository owncloud/guests, pull requests merged in 2019-06, with the labels that each got.

#328 acceptance test for creating guest with email containing capital letter
  tests/acceptance/features/bootstrap/GuestsContext.php
  tests/acceptance/features/bootstrap/WebUIGuestsContext.php
  tests/acceptance/features/lib/SetPasswordPage.php
  tests/acceptance/features/webUIGuests/guests.feature
Labels: 3 - To review, dev:acceptance-tests

#334 Use standalone-chrome-debug:3.141.59-oxygen to get chrome 74
  .drone.yml
Labels: 3 - To review, QA-team, dev:acceptance-tests

#335 Adjust create user steps
  tests/acceptance/features/apiGuests/guests.feature
  tests/acceptance/features/webUIGuests/guests.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests

#336 Adjust expected sharing dialog box text
  tests/acceptance/features/bootstrap/WebUIGuestsContext.php
  tests/acceptance/features/webUIGuests/guests.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests

#337 Adjust guest sharing dropdown text
  js/guestshare.js
  tests/acceptance/features/bootstrap/WebUIGuestsContext.php
Labels: 3 - To review
