Repository owncloud/guests, pull requests merged in 2020-03, with the labels that each got.

#394 [Tests-Only] Refactor acceptance tests
  tests/acceptance/features/apiGuests/guests.feature
  tests/acceptance/features/bootstrap/GuestsContext.php
  tests/acceptance/features/bootstrap/WebUIGuestsContext.php
Labels: 3 - To review, QA-team, dev:acceptance-tests

#384 Use rawurldecode for allowing "+" in guests emails
  lib/Controller/UsersController.php
  tests/acceptance/features/apiGuests/guests.feature
  tests/acceptance/features/bootstrap/GuestsContext.php
  tests/acceptance/features/webUIGuests/guests.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#398 [Tests-Only] API acceptance tests for guest users with uppercases in email
  tests/acceptance/features/apiGuests/guests.feature
  tests/acceptance/features/bootstrap/GuestsContext.php
Labels: 3 - To review, QA-team, dev:acceptance-tests

#399 Pin behat/mink to 1.7.1 and update other acceptance test dependencies
  vendor-bin/behat/composer.json
Labels: 3 - To review, QA-team, dev:acceptance-tests

#401 [0.8.3] Pin behat/mink to 1.7.1 and update other acceptance test dependencies
  vendor-bin/behat/composer.json
Labels: 3 - To review, QA-team, dev:acceptance-tests

#402 [0.8.3] Set core min-version to 10.4
  appinfo/info.xml
Labels: 3 - To review, QA-team
